@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  /* gray-300 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
  /* gray-400 */
}

/* Selection styling */
::selection {
  background-color: #000000;
  color: #ffffff;
}